<div class="user-container">
<% @users.each do |user| %>
  <div class="user">
      <div>
        <%= image_tag("image1.jpg", width:'100vw', height:'100%') %>
      </div>
      <div class="col">
        <%= link_to "/users/#{user.id}" do %>
        <h2 class="user-name"><%= user.name%></h2>
        <% end %>
        <p>Number of posts: <%= user.posts_counter %></p>
      </div>
  </div>
<%end%>
</div>
