<header>
  <div>
    <%= link_to image_tag(""), root_path %>
  </div>
  <div>
      <form>
        <input type="search" placeholder="search"/>
        <div>
          <button type="submit">Search</button>
        </div>
      </form>
  </div>
</header>
